<span>Name:</span>

<input placeholder="Name" type="text"
    value="@(Name)"
    @oninput="HandleNameChanged"
 />

@code {

    [EditorRequired]
    [Parameter]
    public string Name {get; set;} = null!;

    [Parameter]
    public EventCallback<string> NameChanged {get; set;}


    private async Task HandleNameChanged(ChangeEventArgs e)
    {
        await NameChanged.InvokeAsync(e.Value?.ToString() ?? "");
    }
}