
<div style="border: 1px solid grey; padding: 20px;">
        
    <h2>Profile Editor</h2><br/><br/>
    <ProfileNameEditor @bind-Name="@(Name)"/><br><br>
    <ProfileAgeEditor @bind-Age="@(Age)" /><br><br>

    <button @onclick="HandleSave">Save</button>
</div>

@code {


    [CascadingParameter]
    public StateYourProblem.Pages.Index IndexComponent {get; set;} = null!;

    private string Name {get; set;} = "";

    private int Age {get; set;}

    void HandleSave() {
        Console.WriteLine(Name);
        Console.WriteLine(Age);
        IndexComponent.SetAge(Age);
        IndexComponent.SetName(Name);
    }
}