<span>Age:</span>

<input placeholder="Age" type="number"
    value="@(Age)"
    @oninput="HandleAgeChanged"
 />


@code {

    [EditorRequired]
    [Parameter]
    public int Age {get; set;}

    [Parameter]
    public EventCallback<int> AgeChanged {get; set;}


    private async Task HandleAgeChanged(ChangeEventArgs e)
    {
        var v = Int32.Parse((e.Value?.ToString() ?? "0"));
        await AgeChanged.InvokeAsync(v);
    }
}